<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.866241473634-qfh85udvkhi99la20ekht1ni0it59l47</string>
			</array>
		</dict>
		<dict/>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.150461855183-72dru5loo3bf7s3jidmfjdd9umlbuid4</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirLTStd-Medium.otf</string>
		<string>AvenirLTStd-Black.otf</string>
		<string>GT-Walsheim-Bold-Trial-BF651b7fc737c57.otf</string>
		<string>AvenirNext-Regular.ttc</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
		<dict/>
	</array>
</dict>
</plist>
